<div id="main">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="#">Sports</a>
        <a href="#">Music</a>
        <a href="#">Entertainment</a>
      </div>
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; </span>
      &nbsp;&nbsp;
      <a routerLink="home" class="navbar-brand" href="#" style="color:black">Youthoob</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse d-flex justify-content-center" style="widows: 400px;"
        id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0" style="width: 80%">
          <input class="form-control mr-sm-2" style="width: 80%" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div>
        <a routerLink="upload"><img src="assets/images/upload.png" style="width: 25%; height: 25%"></a>
      </div>
      <!-- <div>
        <button routerLink="premium" type="button" class="btn btn-primary" id="premium">Premium</button>&nbsp;&nbsp;
      </div> -->
      <div>
          <button routerLink="premium" type="button" class="btn btn-primary" id="premium">Premium</button>&nbsp;&nbsp;
        <button *ngIf="isAvailable; else condition1" routerLink="signin" type="button" class="btn btn-primary"
          id="signin">Sign In</button>
        <ng-template #condition1>
          <div class="btn-group open">
            <button type="button" class="btn btn-default navbar-btn pull-left" data-toggle="dropdown"
              id="rightProfileButton" aria-expanded="true">
              <img src="assets/images/userdp.jpg" class="rounded-circle" alt="Cinque Terre" width="40" height="35">
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width: 210px">


              <li>
                <div class="pull-left" style="margin-left: 10px;">
                  <img src="https://demo.youphptube.com/videos/userPhoto/photo1.png" style="max-width: 50px;"
                    class="img img-responsive img-circle">
                </div>
                <div class="pull-left">
                  <h2>Shinchan</h2>
                  <!-- <div><small>developer@youphptube.com</small></div> -->

                </div>
              </li>
              <li>
                <hr>
              </li>
              <li>
                <a href="https://demo.youphptube.com/logoff">
                  <i class="fas fa-lock-open text-muted" style="opacity: 0.2;"></i>
                  <i class="fas fa-sign-out-alt"></i> Sign out </a>
              </li>
              <li>
                <a href="https://demo.youphptube.com/user" style="border-radius: 4px 4px 0 0;">
                  <span class="fa fa-user-circle"></span>
                  My Account </a>
              </li>

              <li>
                <a href="https://demo.youphptube.com/channel/TheAdminChannel">
                  <span class="fab fa-youtube"></span>
                  My Channel </a>
              </li>

              <li>
                <a href="https://demo.youphptube.com/mvideos">
                  <span class="glyphicon glyphicon-film"></span>
                  <span class="glyphicon glyphicon-headphones"></span>
                  My videos </a>
              </li>
              <li>
                <a routerLink="likedvideos">
                  <span class="fas fa-tachometer-alt"></span>
                  Liked Videos </a>
              </li>
              <li>
                <a routerLink="subscriptions">
                  <span class="fa fa-check"></span>
                  Subscriptions </a>
              </li>



            </ul>
          </div>
        </ng-template>
      </div>
      <div>
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
          aria-label="Toggle navigation"><span class="dark-blue-text">
            <i class="fas fa-bars fa-1x"></i></span></button>
      </div>
    </nav>
  </div>
  <br> <br> <br>
  <router-outlet></router-outlet>
</div>
