

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-play-circle" style="font-size:60px;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    <div id="totalVideos" class="huge" style="font-size:30px">42</div>
                                    <div>Total Admin Videos</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="height:35px">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-eye" style="font-size:60px;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    <div id="totalVideos" class="huge" style="font-size:30px">42</div>
                                    <div>Total User Videos</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="height:35px">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-users" style="font-size:60px;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    <div id="totalVideos" class="huge" style="font-size:30px">42</div>
                                    <div>Total Users</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="height:35px">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-eye-slash" style="font-size:60px;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    <div id="totalVideos" class="huge" style="font-size:30px">42</div>
                                    <div>Reported Videos</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="height:35px">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>