<table class="table ">
    <tr>
        <td></td>
            <th>
                Video Name
            </th>
            <th>
                Count
            </th>
            <th>
                Option
            </th>
      </tr>
      <tr>
           <td>
            
                    <div class="col-md-10 col-md-offset-1" style="display: inline">
                        <div class="row pb-row text-center">
                            <div class="col-md-3 pb-video">
                                <iframe class="pb-video-frame" width="220%" height="150"
                                    src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0"
                                    allowfullscreen></iframe>
                
                            </div>
                        </div>
                    </div>
            </td>
 
            <td>Sanjana Song</td>
            <td>59</td>
            <td><button type="button" > Delete</button></td>
    
    
</tr>

<tr>
    <td>
        
            <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame" width="220%" height="150"
                        src="https://www.youtube.com/embed/wjT2JVlUFY4?list=RDzuAcaBkcYGE?ecver=1" frameborder="0"
                        allowfullscreen></iframe>
                </div>
    </td>
    <td>Doll Baby Song</td>
    <td>90</td>
    <td><button type="button" > Delete</button></td>

</tr>

<tr>
    <td>
            <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame" width="220%" height="150"
                        src="https://www.youtube.com/embed/h3kRIxLruDs?ecver=" frameborder="0"
                        allowfullscreen></iframe>
                </div>
    </td>
    <td>Bullet Song</td>
    <td>120</td>
    <td><button type="button" > Delete</button></td>
</tr>
 


                
             


               

  </table>             

