<div class="container">
    <h2 class="justify-content-center" style="text-align: center">My Subscriptions</h2>
    <hr style="border-width: 2px"><br>
    <div class="row pb-row">
        <div class="col-md-2">
            <img src="assets/images/userdp.jpg" class="rounded-circle" alt="Cinque Terre" width="80" height="65">
        </div>
        <div class="col-md-10">
            <h2>PewDiePie</h2>
        </div>
    </div>
    <hr style="color:white">
    <div class="row pb-row">
        <div class="col-md-2">
            <img src="assets/images/userdp.jpg" class="rounded-circle" alt="Cinque Terre" width="80" height="65">
        </div>
        <div class="col-md-10">
            <h2>T-Series</h2>
        </div>
    </div>
    <hr>
    <div class="row pb-row">
        <div class="col-md-2">
            <img src="assets/images/userdp.jpg" class="rounded-circle" alt="Cinque Terre" width="80" height="65">
        </div>
        <div class="col-md-10">
            <h2>NuanceBro</h2>
        </div>
    </div>
    <hr>
</div>
