/* body {
    font-family: sans-serif;
  }
  .input-container {
    margin: 3em auto;
    max-width: 300px;
    background-color: #EDEDED;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  } 
  input[type='file'] {
    display: none;
    background: #03A595;
    color: #fff;
    min-height: 35px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* .file-info {
    font-size: 0.9em;
  }
  .browse-btn {
    background: #03A595;
    color: #fff;
    min-height: 35px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .browse-btn:hover {
    background: #4ec0b4;
  }
  @media (max-width: 300px) {
    button {
      width: 100%;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
    }
    
    .file-info {
      display: block;
      margin: 10px 5px;
    }
  } */